<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="LCB\OmnibusDirective\Api\Data\LowestPriceInterface" type="LCB\OmnibusDirective\Model\LowestPrice" />

    <type name="Magento\Catalog\Model\ProductRepository">
        <plugin name="LCB_OmnibusDirective_ProductRepository_PLugin"
                type="LCB\OmnibusDirective\Plugin\Catalog\Model\ProductRepositoryPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="lcb_omnibus_parse_catalog" xsi:type="object">LCB\OmnibusDirective\Console\Command\ParseCatalogPrices</item>
            </argument>
        </arguments>
    </type>

</config>
